// General

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 1110px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.test {
    width: 100%;
    height: 100vh;
}

#customElement {
    width: 100%;
    height: 400px;
    background: rgba(81, 150, 191, 0.60);
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    background: url("assets/ytplayer_img.jpg") no-repeat center center;
    background-size: cover;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.fixed {
    position: fixed;
    min-width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0;
    background-color: rgba($color: $color-base, $alpha: .5);
    transform: translateX(0);
}

.absolute {
    position: absolute;
    transform: translateX(25%);
}

.active {
    border-bottom: 2px solid $color-white;
}