// About Us

.about-us {
    padding-top: 214px;
    text-align: center;
    background: url('#{$path-img}aboutUs-bg.jpg') no-repeat center / cover;
    background-attachment: fixed;

    @media (max-width: $phone-bp) {
        padding-top: 100px;               
    }

    &__title {
        margin-bottom: 70px;
        
        @media (max-width: $phone-bp) {
            margin-bottom: 50px;           
        }
    }

    &__container {
        display: flex;

        @media (max-width: $phone-bp) {
            flex-direction: column;   
        }

        .container-01,
        .container-02,
        .container-03 {
            width: 33%;
            margin-bottom: 72px;

            @media (max-width: $phone-bp) {
                width: 100%;
                margin-bottom: 50px;
                padding: 0 10px;
            }
            
            &:not(:last-child) {
                margin-right: 30px;
            }

            &__icon {
                margin-bottom: 42px;

                @media (max-width: $phone-bp) {
                    margin-bottom: 10px;
                }
            }

            &__title {
                margin-bottom: 40px;

                @media (max-width: $phone-bp) {
                    margin-bottom: 15px;   
                }
            }
        }
    }
}