// Our Babers & Stylists

.barbers {
    padding-top: 70px;
    background-color: #333;

    .barbers-box {
        text-align: center;
    }

    &__title {
        margin-bottom: 64px;
        font-weight: 400;
        color: $color-white;
        animation-duration: 5s;
        animation-iteration-count: infinite;

        @media (max-width: $phone-bp) {
            font-size: 42px;
            margin-bottom: 30px;
        }

    }

    &__description {
        margin-bottom: 70px;
        font-weight: 400;
        color: $color-white;
        @include font-size-calc(24px, 24px);

        @media (max-width: $phone-bp) {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }

    .barbers-container {
        display: flex;

        @media (max-width: $phone-bp) {
            flex-direction: column;
            align-items: center;
        }
    }

    .barbers-flip {
        max-width: 350px;
        height: 270px;
        margin-bottom: 10px;
        position: relative;
        transition: 1s;
        transform-style: preserve-3d;

        @media (max-width: $phone-bp) {
            left: 12px;
        }

        &:hover {
            transform: rotateY(180deg);
        }

        &__back {
            font-family: $font-bernier;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $color-base;
            color: $color-white;
            transform: rotateY(180deg);
        }

        &__front {
            position: absolute;
            width: 100%;
            left: 0;
            height: 100%;
            backface-visibility: hidden;
            
            z-index: 2;
        }
    }

    .barbers-box-01,
    .barbers-box-02,
    .barbers-box-03 {
        width: 33%;
        margin-bottom: 60px;
        text-align: center;
        
        @media (max-width: $phone-bp) {
            width: 100%;
        }

        &:not(:last-child) {
            margin-right: 30px;

            @media (max-width: $phone-bp) {
                margin-right: 0;
            }
        }

        &__name {
            font-family: $font-bernier;
            font-weight: 400;
            text-transform: uppercase;
            color: $color-white;
            @include font-size-calc(30px, 24px);

            &:after {
                content: '';
                display: block;
                width: 100%;
                margin: 10px 0;
                height: 2px;
                background-color: $color-white;
            }
        }

        &__position {
            display: block;
            font-family: $font-apple;
            font-weight: 400;
            color: $color-white;
            @include font-size-calc(24px, 24px);
        }
    }
}