// Buttons

.button {
    padding: 25px 135px;
    font-family: $font-americanMedium;
    border: none;
    cursor: pointer;
    outline: none;
    @include font-size-calc(24px, 24px);

    @media (max-width: $phone-bp) {
      padding: 25px 70px;
  }

    &:hover {
        animation: swing 0.9s ease;
        animation-iteration-count: 1;

        @keyframes swing {
            15% {
              transform: translateX(13px);
            }
            30% {
              transform: translateX(-13px);
            }
            40% {
              transform: translateX(8px);
            }
            50% {
              transform: translateX(-8px);
            }
            65% {
              transform: translateX(4px);
            }
            100% {
              transform: translateX(0);
            }
        }
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     right: 13%;
    //     bottom: 75px;
    //     width: 25%;
    //     border: 2px solid $color-base;
    // }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     left: 13%;
    //     bottom: 75px;
    //     width: 25%;
    //     border: 2px solid $color-base;
    // }
}