// Movie

.movie {
    height: 100vh;

    .order-line {
        top: 100%;
    }

    .movie-box {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 10;
        background-color: rgba($color: $color-base, $alpha: .7);
    }
}